@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F7C70F;
    width: 100%;
}

#titolo {
    font-size: 24pt;
    margin-left: 30px;
}

.logo_div img {
    width: 100px;
    height: 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav_menu {
    margin-left: auto;
    margin-right: 2%;
    display: grid;
    column-gap: 10pt;
    max-width: 35%;
    min-width: 10%;
    column-width: auto;
}

.nav-item {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    color: #F7C70F;
    background-color: black;
    cursor: pointer;
    border: 1px outset #F7C70F;
}

.nav-item:hover{
    background-color: white;
}

.nav-item a{
    color: #F7C70F;
}

.nav-link {
    font-size: 20pt;
    font-weight: 500;
    color: black;
    font-family: 'Poppins', "Rage Italic";
}

#loginItem {
    grid-column: 1 / 1;
    grid-row: 1 / 4;
}

#logoutItem {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}