@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#titolo {
    margin-left: 30px;
}

.logo_div img {
    width: 100px;
    height: 100px;
}