@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.home h1 {
    margin-top: 10%;
    color: #F7C70F;
    font-size: 3rem;
}

.home p {
    margin-top: 5%;
    font-size: 2.5rem;
    margin-bottom: 20%;
}