.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 7%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card p {
    margin-top: 3%;
}

.card .button {
    width: 50%;
    font-size: 13pt;
    padding: 6px;
    background-color: #F7C70F;
    border-radius: 10px;
    border: 2px solid #F7C70F;
    text-align: center;
    margin-top: 20px;
    color: black;
    margin-left: 25%;
    margin-bottom: 7%;
}

.card .button:hover {
    cursor: pointer;
}

.card .richieste {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.card .richieste #title_richieste{
    color: red;
    font-size: 13pt;
}


#eliminaUtente {
    background-color: red;
}

.richiesta_div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}