.div {
    display: flex;
    flex-direction: row;
}

.cards_account .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.header_scheda {
    display: flex;
    flex-direction: row;
}
.noDecoration {
    text-decoration: none;
    color: black;
}

.cards_account {
    display: flex;
    flex-direction: row;
}

.card {
    width: 20%; margin: 2%;
}

.card img {
    width: 100%;
}

.noDecoration {
    text-decoration: none;
}

#profileTitle {
    font-size: 22pt;
    margin: 2% 1%;
    text-align: center;
    border: 2px inset lightgray;
}

#profileTitle:hover{
    border: 2px outset lightgray;
}

.editIcon {
    width: 40pt;
    height: 20pt;
    padding: 2pt;
    margin-left: auto;
    margin-right: 1%;
}

.InfoProfile {
    display: flex;
    margin: 2%;
    padding: 1% 2%;
    border: 2px solid black;
    background-color: #F7C70F;
}

.InfoProfile:hover {
    background-color: white;
}
